{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <h1>Sign up</h1>

    {% if user.errors is not empty %}
        <p>
            Errors:
        </p>
        <ul>
            {% for error in user.errors %}
                <li> {{ error }} </li>
            {% endfor %}
        </ul>
    {% endif %}


    <form method="post" class="signUpForm" action="/signup/createAction" id="formSignup">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="name" name="name" class="form-control" id="inputName" placeholder="Name" autofocus required value="{{ user.name }}">
        </div>

        <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="email address" required value="{{ user.email }}">
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
                <!-- pattern="^(?=.*[A-Za-z])(?=.\d)[A-Za-z\d]{6,}$" title="Minimum 6 chars, at least 1 letter 1 number" -->
                
            </div>
            <div class="form-group col-md-4">
                <label for="inputPasswordConfirmation">Password</label>
                <input type="password" name="password_confirmation" class="form-control"  id="inputPasswordConfirmation" placeholder="Repeat Password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br>
    
    <style>
        .signUpForm{
            max-width: 50%;
            margin-left: 1%;
            margin-top: 1%;
            border: 1px solid gray;
            padding: 1%;
            border-radius: 0%;
        }

        .form-group{
            margin-bottom: 2%;
        }
    </style>
    
{% endblock %}

{% block footer %}
<script>
    $.validator.addMethod('validPassword',
        function(value, element, param){
            //if value is empty
            if (value != ''){
                // check regEx
                if(value.match(/.*[a-z]+.*/i) == null){
                    return false;
                }
                if(value.match(/.*\d+.*/i) == null){
                    return false;
                }
            }

            return true;
        },
        'Must contain a letter and one number'

    ); 

    $(document).ready(function(){
        $('#formSignup').validate({
            rules:{
                name: 'required',
                email:{
                    required: true,
                    email: true
                },
                password:{
                    required:true,
                    minlength: 6,
                    validPassword: true
                },
                password_confirmation:{
                    equalTo: '#inputPassword'
                }
            }
        });
    });

</script>

{% endblock %}