{% extends 'base.html' %}

{% block title %}List hotels{% endblock %}

{% block body %}
<h1>
    List of hotels
</h1>
<br>
    <table class="table table-striped">
  
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"><a href="/hotelController/list?orderBy=nameASC">Name</a></th>
            <th scope="col">Addres</a></th>
            <th scope="col"><a href="/hotelController/list?orderBy=cityASC">city</a></th>
            <th scope="col"><a href="/hotelController/list?orderBy=countryASC">country</a></th>
            <th scope="col">zipcode</th>
            <th scope="col">website</th>
            <th scope="col">email</th>
            <th scope="col"><a href="/hotelController/list?orderBy=vergepriceASC">price</a></th>
            <th scope="col">status</th>
            <th scope="col">edit</th>
          </tr>
        </thead>
        <tbody>
        {% for hotels in hotels %}

        {% if hotels.status == true %}
            <tr>
        {% else %}
            <tr class="inactive">
        {% endif %}
                
            
                <th scope="row">{{hotels.hotel_id}}</th>
        
           
            <td>{{hotels.name}}</td>
            <td>{{hotels.address}}</td>
            <td>{{hotels.city}}</td>
            <td>{{hotels.country}}</td>
            <td>{{hotels.zipcode}}</td>
            <td>{{hotels.website}}</td>
            <td>{{hotels.email}}</td>
            <td>{{hotels.vergeprice}}</td>
            

            {% if hotels.status == true %}
                <td class=>{{hotels.status}} <a href = '/hotelController/deleteHotel?id={{hotels.hotel_id}}'>DELETE</a></td>
            {% else %}
                <td><a href = "/hotelController/activateHotel?id={{hotels.hotel_id}}">ACTIVATE</a></td>
            {% endif %}
            <td><a href = "/hotelController/editHotel?id={{hotels.hotel_id}}">EDIT</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>


      <style>
        .signUpForm{
            max-width: 50%;
            margin-left: 1%;
            margin-top: 1%;
            border: 1px solid gray;
            padding: 1%;
            border-radius: 0%;
        }

        .form-group{
            margin-bottom: 2%;
        }

        tr.inactive{
            background-color: #616161;
        }
    </style>
{% endblock %}
